body{
    margin: 0;
    padding: 0;
}

/*--------- navigation bar -----------*/

#nav-bar{
    position: sticky;
    top: 0;
    z-index: 10;
}

.navbar-brand img{
    height: 40px;
    padding-left: 30px;
}
.navbar-nav li{
    padding: 0 10px;
}

.navbar-nav li a{
    float: right;
    text-align: left;
}

#nav-bar ul li a:hover{
    color: #007bff!important;
}

.navbar{
    background: #fff;
}

.navbar-toggler{
    border: none!important;
}

.nav-link{
    color: #000!important;
    font-weight: 600;
    font-size: 25px;
    letter-spacing: .10px;
    word-spacing: .5px;
    text-transform: uppercase;
}

/*---------  end of navigation bar -----------*/


#slider{
    width: 100%;
}

.carousel-caption{
    top: 40%;
    transform: translateY(-60%);
    bottom: initial !important;
}

.carousel-caption h5{
    position: relative;
    justify-content: center;
    align-items: center;
    font-weight: 600 bold;
    font-size: 2.5em;
    text-transform: uppercase;
    color: #007bff;
    width: 80%;
}

.carousel-caption p{
    color: #0f0;
    font-size: 1.5em;
    font-weight: 600 bold;
    text-transform: uppercase;
}

#about{
    padding-top: 80px;
    padding-bottom: 50px;
    color: #555;
}

#about .btn{
    margin-top: 20px;
    margin-bottom: 30px;
    color: #000;
} 
.about-content{
    padding-top: 0px;
    text-transform: uppercase;
    text-decoration: solid;
}

.skills-bar p{
    margin-bottom: 6px;
    font-weight: 600 bold;
}

.progress-bar{
    border-radius: 16px;
}

#contents .carousel-indicators{
    position: static;
    padding-top: 30px;
}

#contents .carousel-indicators li{
    background-color: black;
    width: 12px;
    height: 12px;
    margin-left: 5px;
}

#contents h3{
    text-transform: uppercase;
    font-size: 36px;
    font-weight: 600;
    color: black !important;
}

p.lead{
    font-size: 24px;
    color: #fabd06 !important;
    font-weight: bold;
}
/*---- service -------*/

#contents h1::after{
    content: '';
   background-color: black;
   display: block;
   height: 3px;
   width: 270px;
   margin: 10px auto 5px;
}

#contents {
    margin-top: 50px;
}

#contents .btn{
    color: #000;
}

/*---- gallery ---------*/

#gallery h1{
    text-transform: uppercase;
    font-size: 36px;
    font-weight: 600;
    color: black !important;
}

.img-wrapper{
    overflow: hidden;
}

.img-wrapper img{
    transition: transform .5s ease;
}

.img-wrapper img:hover{
    transform: scale(1.5);
    cursor: zoom-in;
}

img{
    width: 100%;
    height: auto;
}

#gallery h1::after{
    content: '';
   background-color: black;
   display: block;
   height: 3px;
   width: 270px;
   margin: 20px auto 5px;
}

/*--------- team section -----------*/

#team{
    padding-top: 80px;
    padding-bottom: 50px;
}

#team h1{
    text-align: center;
    color: black;
    padding-bottom: 10px;
}

#team h1::after{
    content: '';
   background-color: black;
   display: block;
   height: 3px;
   width: 270px;
   margin: 20px auto 5px;
}

.profile-pic{
    margin-top: 25px;
}

.profile-pic .img-box{
    opacity: 1;
    display: block;
    position: relative;
}

.profile-pic .img-box img{
    filter: grayscale(1);
}

.profile-pic .img-box img:hover{
    filter: grayscale(0);
    cursor: pointer;
}

.profile-pic h2{
    font-size: 22px;
    font-weight: bold;
    margin-top: 15px;
    color: #007bff!important;
}

.profile-pic h3{
    font-size: 15px;
    font-weight: bold;
    margin-top: 15px;
}

#team .fa {
    height: 25px;
    width: 25px;
    color: #007bff;
    background: #fff;
    padding: 4px;
    border-radius: 50%;
}

.img-box ul{
    padding: 15px 0;
    position: absolute;
    z-index: 2;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
}
.img-box ul li{
    padding: 5px;
    display: inline-block;
}

.img-box:hover ul{
    opacity: 1;
}

.img-box ul, .img-box ul li{
    transition: 0.5s;
}

/*--------- end of team section -----------*/

/*--------- promo section -----------*/

#promo {
    background-image: linear-gradient(rgba(250, 143, 3, 0.979),rgba(250, 143, 3, 0)), url(./images/banner1.jpg);
    background-size: cover;
    background-position: center;
    color: #fff;
    background-attachment: fixed;
    text-align: center;
    padding: 100px;
    font-size: 40px;
}

/*--------- end of promo section -----------*/
/*-------------- testimonials section -----------------*/

#testimonials{
    padding: 40px 0;
    background: #fff;
}

#testimonials h1{
    text-align: center;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
    text-transform: uppercase;
}

#testimonials h1::after{
    content: '';
   background-color: black;
   display: block;
   height: 3px;
   width: 370px;
   margin: 20px auto 5px;
}

#testimonials .row {
    margin-top: 30px;
}

.col-md-4{
    margin: 40px auto;
}

.profile{
    padding: 70px 10px 10px;
    background-color: #007bff;
}

.user{
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

.profile img {
    top: -60px;
    position: absolute;
    left: calc(50% - 60px);
    border: 10px solid #fff;
}

.profile h3{
    font-size: 30px;
    margin-top: 15px;
    color: yellow;
}

.profile:hover{
    border-color: 1px solid #fff;
    background-color: #3f51b5;
}

.profile:hover h3{
    border-color: 1px solid #fff;
    background-color: #007bff;
}

#testimonials span {
    font-size: 15px;
}

.profile:hover{
    box-shadow:  10px 2px 20px black;
    cursor: pointer;
    transition: .5s;
}

/*-------------- end of testimonials section -----------------*/


/*-------------- contact section -----------------*/

#contact{
    background-image: linear-gradient(rgba(0,0,0,0.50),rgba(0,0,0,0.8)),url(./images/banner1.jpg);
    background-color: black;
    padding-top: 50px;
    padding-bottom: 50px;
    color: #777;
}

#contact h1{
    text-align: center;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
    text-transform: uppercase;
    color: #007bff;
}

#contact h1::after{
    content: '';
   background-color: yellow;
   display: block;
   height: 3px;
   width: 370px;
   margin: 20px auto 5px;
}

#contact h1:hover{
    color: yellow;
}

.contact-form{
    padding: 15px;
}

.form-control{
    border-radius: 0 !important;
    border: none !important;
}

::placeholder{
    color: #3f51b5 !important;
}

.follow{
    background: #fff;
    margin: 15px;
    padding: 10px;
}

.contact-info .fa{
    color: #007bff;
    margin: 10px;
    font-weight: bold;
}

.contact-info .fa:hover{
    color: yellow;
    margin: 10px;
    font-weight: bold;
}

/*-------------- end of contact section -----------------*/

/*-------------- footer section -----------------*/

#footer{
    background: black;
    color: #fff;
    padding: 12px;
}

#footer p{
    text-transform: uppercase;
    font-size: 30px;
    font-weight: bolder;
}

#footer p:hover{
    color: red;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: bolder;
}

.fa-heart-o{
    color: red;
}

/*-------------- end of footer section -----------------*/
